.py-base {
    padding-block: var(--py-base);
}

.py-lg {
    padding-block: var(--py-lg);
}

.py-xl {
    padding-block: var(--py-xl);
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 0.4375rem;
}